body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(21, 194, 194), rgb(28, 150, 101));
}

div{
    background-color: white;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

input{
    width: 300px;
    height: 40px;
    gap: 10px;
    font-size: medium;
    border-radius: 5px;
}

button{
    width: 300px;
    height: 40px;
    font-size: medium;
    border-radius: 5px;
    background-color: #1f6363;
    color: white;
}